
<div id="home">
    <p class="MainTitle"> <span>Q</span>uiz</p>
    <p>testing platform<span class="animatedSubTitle">_</span></p>
</div>

@if (User.Identity.IsAuthenticated)
{
<partial name="~/Views/Test/_AddTest.cshtml" />
}
